
body {
    margin: 0;
    padding: 0;
    background-color: rgb(95, 200, 204);
    font-family: Arial, sans-serif;
   
   
    
  }
  
  
  .App {
   
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 40px;
    background-color: lightcyan;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  

  h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
 
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: grey;
  }
 
  .loading {
    font-size: 18px;
    color: #007bff;
    margin-top: 20px;
  }
  
  
  .number-list {
    text-align: left;
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
    font-size: 18px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  li:hover {
    background-color: #e0e0e0;
  }
  :-ms-input-placeholder{
    font-size: 1.2rem;
  }